* {
  font-family: 'Mukta Mahee', sans-serif !important;
}

ul {
  list-style: none;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

circle {
  fill: #333;
  opacity: 0.3;
  stroke: white;
}
rect {
  stroke: rgba(255,255,255,0.5);
  fill: white;
}
path {
  fill: #333;
  opacity: 0.3;
  stroke: white;
}


.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
.calgary-path {
  fill: rgba(129,199,132,1);
  opacity: 1;
}
.calgary-path-mouseover {
  fill: rgba(76,175,80,1);
  opacity: 1;
}
.calgary-path-click {
  fill: black;
  opacity: 1;
}

.square-legend-colour {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.Assault-Non-domestic {
  background-color: #1abc9c;
}
.Commercial-Robbery {
  background-color: #2ecc71;
}
.Street-Robbery {
  background-color: #3498db;
}
.Violence-Other-Non-domestic {
  background-color: #9b59b6;
}
.Residential-Break-Enter {
  background-color: #34495e;
}
.Commercial-Break-Enter {
  background-color: #f1c40f;
}
.Theft-OF-Vehicle {
  background-color: #e67e22;
}
.Theft-FROM-Vehicle {
  background-color: #e74c3c;
}
.Social-Disorder {
  background-color: #ecf0f1;
}
.Physical-Disorder {
  background-color: #95a5a6;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider:focus {
  border: none;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red;
  cursor: pointer; /* Cursor on hover */
  border: none;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red;
  cursor: pointer; /* Cursor on hover */
  border: none;
}
